// General styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Gotham Book', sans-serif;
    color: $color-text-gray;
    position: relative;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

a {
    color: $secondary;
    text-decoration: none;
    @include transition(ease, 0.3s);
}

h1 {
    font-family: 'joshicoregular', sans-serif;
    color: $color-text-black;
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.text-justify {
    text-align: justify;
}

.whatsapp {
    @include whatsapp-button;
}

header#navbar {
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    width: 100%;
    height: auto;
    padding: 15px 30px;
    color: $color-text-black;
    letter-spacing: 3px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(ease, 0.2s);

    a {
        color: $color-text-black;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: $danger;
        }
    }

    ul {
        margin-bottom: 0;

        .list-inline-item:not(:last-child) {
            margin-right: 2.5rem;
        }
    }

    #logo-navbar {
        width: 100px;
        @include transition(ease, 0.2s);
    }

    #mburger {
        color: $color-text-black;
        font-size: 2rem;

        &:hover,
        &:focus {
            color: $danger;
        }
    }
}

.navbar-scroll {
    background-color: $primary;
    padding: 10px 30px !important;
    @include transition(ease, 0.3s);

    #logo-navbar {
        width: 100px !important;
    }

    #mburger {
        // color: !important;
    }
}

#mapa {
    line-height: 0;
    
    p {
        margin: 0;
        padding: 0;
    }
}

#jumbotron {
    @include background('../images/bg-jumbotron.png', center, cover);
    color: $color-text-black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
        font-size: calc(2.375rem + 1.5vw);
    }

    h2 {
        letter-spacing: 3px;
        margin: 20px 0;
    }

    hr {
        margin-top: 30px;
    }

    figure {
        position: relative;
        z-index: 2;
        animation: floatingElements 10s ease infinite;
    }

    .decor {
        position: absolute;
        z-index: 1;
    }

    .decor-1 {
        bottom: 50px;
        left: 15px;
        animation: floatingElements 4s ease infinite;
    }

    .decor-2 {
        bottom: 420px;
        left: 90px;
        animation: floatingElements 6s ease infinite;
    }

    .decor-3 {
        bottom: 100px;
        right: 15px;
        animation: floatingElements 3s ease infinite;
    }

    &::after {
        position: absolute;
        bottom: -46px;
        left: 10px;
        content: '';
        @include background('../images/after-jumbotron.png', center, contain);
        width: 272px;
        height: 116px;
        z-index: 2;
    }
}

#nosotros {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    h5 {
        font-family: 'Gotham', sans-serif;
    }

    .carrusel-nosotros {
        img {
            @include transition(ease, 0.3s);
            -webkit-transform: scale(0.8);
                -ms-transform: scale(0.8);
                    transform: scale(0.8);
        }

        .slick-current {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

        .slick-dots {
            bottom: -50px;

            li {
                button {
                    &::before {
                        font-size: 20px;
                    }
                }
            }

            li.slick-active {
                button {
                    &::before {
                        color: $primary;
                    }
                }
            }
        }
    }

    ul {
        li {
            span {
                color: $secondary;
                font-family: 'Gotham', sans-serif;
            }
        }
    }
}

#productos {
    @include background('../images/bg-productos.png', center, cover);
    position: relative;

    .contenedor-productos {
        position: relative;

        .bg-productos {
            position: absolute ;
            background-color: #EBE9AC;
            width: 200%;
            height: 100px;
            z-index: 1;
            @include absolute-center-y;
        }

        img {
            position: relative;
            z-index: 2;
        }

        h4 {
            font-family: 'Gotham', sans-serif;
        }

        .sunset-mix {
            position: relative;
            z-index: 2;

            a {
                color: #E5484A;

                &:hover,
                &:focus {
                    color: #e5484bd8;
                }
            }
        }

        .antiox-mix {
            position: relative;
            z-index: 2;

            a {
                color: #512A73;

                &:hover,
                &:focus {
                    color: #512a7385;
                }
            }
        }
    }

    .decor-productos {
        position: relative;
        z-index: 1;
    }

    .decor-productos-1 {
        animation: floatingElements 3s ease infinite;
    }

    .decor-productos-2 {
        animation: floatingElements 6s ease infinite;
    }

    .decor-productos-3 {
        animation: floatingElements 9s ease infinite;
    }
}

#interna {
    @include background('../images/bg-productos.png', right, cover);
    position: relative;
    padding-top: 160px !important;

    .decor-productos {
        position: relative;
        z-index: 1;
    }

    .decor-productos-1 {
        animation: floatingElements 3s ease infinite;
    }

    .decor-productos-2 {
        animation: floatingElements 6s ease infinite;
    }

    .decor-productos-3 {
        animation: floatingElements 9s ease infinite;
    }
}

footer {
    background-color: $secondary;
    color: $color-text-white;

    a {
        color: $color-text-white;

        &:hover,
        &:focus {
            color: $danger;
        }
    }

    form {
        color: $color-text-gray;
    }

    .logo {
        max-width: 200px;
    }

    .social {
        a {
            background-color: #fff;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $secondary;

            &:hover,
            &:focus {
                background-color: $danger;
                color: $color-text-white;
            }
        }
    }
}