// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    #jumbotron {
        h1 {
            font-size: calc(3.375rem + 1.5vw);
        }

        .decor-2 {
            bottom: 480px;
        }

        &::after {
            bottom: -46px;
            left: 30px;
            width: 380px;
            height: 162px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .menu { 
        width: 40%;
    }

    header#navbar {
        #logo-navbar {
            width: 150px;
        }
    }

    #jumbotron {
        .decor-1 {
            left: 50px;
            animation: floatingElements 4s ease infinite;
        }
    
        .decor-3 {
            right: 50px;
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    #jumbotron {
        h1 {
            font-size: calc(2.375rem + 1.5vw);
        }

        .decor-1 {
            bottom: 300px;
            left: auto;
            right: 400px;
        }
    
        .decor-2 {
            bottom: 700px;
            left: auto;
            right: 250px;
        }
    
        .decor-3 {
            bottom: 320px;
            right: 30px;
        }

        &::after {
            bottom: -50px;
            left: 50px;
            width: 420px;
            height: 180px;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    #jumbotron {
        h1 {
            font-size: calc(2.675rem + 1.5vw);
        }
        
        .decor-1 {
            bottom: 300px;
            right: 500px;
        }
    
        .decor-2 {
            bottom: 700px;
            right: 380px;
        }
    
        .decor-3 {
            bottom: 320px;
            right: 30px;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
    #jumbotron {
        h1 {
            font-size: calc(2.675rem + 1.5vw);
        }
        
        .decor-1 {
            bottom: 250px;
            right: 700px;
        }
    
        .decor-2 {
            bottom: 750px;
            right: 580px;
        }
    
        .decor-3 {
            bottom: 320px;
            right: 100px;
        }

        &::after {
            bottom: -90px;
            left: 50px;
            width: 538px;
            height: 227px;
        }
    }
}
