.woocommerce {
    width: 100%;
    float: left;

    .col-1,
    .col-2 {
        max-width: none;
    }

    form {
        .form-row {
            label {
                width: 100%;
            }
        }
    }

    .single-product {
        .flex-viewport {
            margin-bottom: 30px;
        }
    }

    .related {
        h2 {
            color: $color-text-gray;
            font-family: 'Gotham', sans-serif;
            font-size: 1.25rem
        }

        .products {
            .woocommerce-loop-product__title {
                font-family: 'Gotham', sans-serif;
                text-transform: uppercase !important;
            }
        }
    }
}

.woocommerce div.product form.cart .button,
.woocommerce ul.products li.product .button {
    @include transition(ease, 0.2s);
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: $secondary;

    &:hover,
    &:focus {
        background-color: #ff5b47;
        color: #fff;
    }
}

.woocommerce-input-wrapper {
    width: 100%;
}